@use "../base/variables";
@use "../base/mixins";

.header{
    min-height: 60rem;
    background-image: url(../../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5rem;
    @media(min-width:768px){
        padding: 4rem;
    }
    &__contenido{
        display: flex;
        flex-direction: column;
        height: 56rem;
        justify-content: space-between;
        color: variables.$blanco;
    }
}
.barra{
    @include mixins.desktopLarge{
        display: flex;
        justify-content: space-between;
        align-items:center
    }
    &__nombre{
        font-weight: 300;
        text-align: center;
        font-size: 3rem;
        color: variables.$blanco;
        margin-top: 0;
        padding-top: 0;
 
        span{
            font-weight: 700;
            font-size: 5rem;
            font-family: variables.$fuenteSecundaria;
            @include mixins.tablet{
                font-size: 6rem;
            }
        }
        @include mixins.tablet{
            font-size: 3.5rem;
        }

    }
    &__contacto{
        display: flex;
        flex-direction: column;
        @include mixins.desktopLarge{
            min-width: 42rem;
        }
    }
    &__telefono{
        @include mixins.desktopLarge{
            margin-top: 3rem;
        }
        margin-bottom: 2rem;
        text-align: center;
        display: flex;
        justify-content: center;
       
        a{
            color: variables.$blanco;
            text-decoration: none;
            font-size: 2.7rem;
            display: flex;
            &::before{
                content: "";
                width: 4rem;
                height: 4rem;
                display: block;
                background-image: url(../../img/telefono.png);
                background-repeat: no-repeat;
            }
        }
    }
}
.navegacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include mixins.desktopLarge{
        flex-direction: row;
        justify-content: space-between;
    }
    a{
        color: variables.$blanco;
        text-decoration: none;
        font-size: 1.9rem;
        margin-bottom: 2rem;
        padding: .5rem 1rem;
        border-radius: 6px;
        width: 80%;
        text-align: center;
        &:hover{
            background-color: rgba(255,255,255, .3);
            color: variables.$negro;
        }
    }

}
.slogan{
    text-align: center;
    @include mixins.desktopLarge{
        text-align: right;
    }
    h1{
        font-size: 3rem;
        margin: 0;
        @include mixins.tablet{
            font-size: 4.8rem;
        }
    }
    p{
        margin: 0;
        line-height: 1;
    }
}
