@use "../base/mixins";
@use "../base/variables";

.nosotros{
    margin-top: 5rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-image: url(../../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    @include mixins.desktop{
        grid-template-columns: repeat(3, 1fr);
    }
    &__contenido{
        background-color: variables.$blanco;
        padding: 5rem;
        @include mixins.desktop{
            grid-column: 2/4;
        }
    }
    &__heading{
        margin-bottom: 1rem;
    }
}